name: Update WakaTime stats
on:
  schedule:
    - cron: '0 */2 * * *'  # раз в 2 часа
  workflow_dispatch:  # ручной запуск
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
