name: WakaTime Stats
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Update WakaTime
      uses: anmol098/waka-readme-stats@master
      with:
        WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SECTION_NAME: "wakatime"
        SHOW_PROJECTS: "True"
        SHOW_DAYS_OF_WEEK: "True"
        SHOW_LINES_OF_CODE: "True"
        SHOW_TOTAL_CODE_TIME: "True"
